Repository aacebedo/hugo-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, renovate-config-validator

jsonlint:
  name: JSON Lint
  entry: jsonlint -M json5
  language: system

renovate-config-validator:
  name: Validate Renovate Config
  entry: renovate-config-validator
  language: system

Notes added by 'git notes add'
  c9a7882ab9ad2335b42f311988654f47d1b4ddfd
Due: none

chore(release): 2.13.2 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  b520f65e657899b1234bbc1eee48f9f1c949e82d
Due: none

chore(release): 2.13.3 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  8f18b4b198fce4bd4e155b5bd0bb27e8a1fb9bcb
Due: none

chore(release): 2.13.4 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  19f032ad7f1a23837d66ffd7031c413e1da6ac2e
Due: none

chore(release): 2.13.5 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  ca72491667104e13f02976b8d69527191e598775
Due: none

chore(release): 2.13.6 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  fc79c29345cbf9288183cf7888a51e59c4a97cdb
Due: none

chore(release): 2.13.7 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  55e1a9c56d045da9290c611a4f6cb5ecd8c89d83
Due: none

chore(release): 2.13.8 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  56d705dd7d7f3805f2d457836200fb0e692ec0cc
Due: none

feat: move to mise bootstrap
  .devcontainer/Dockerfile
  .devcontainer/containers.conf
  .devcontainer/devcontainer.json
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mergify.yml
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/clean.sh
  .mise/tasks/lint.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  Dockerfile
  docker-compose.yaml
Due: jsonlint

chore(release): 2.13.9 [skip ci]
  CHANGELOG.md
  charts/hugo-deployer/Chart.yaml
  charts/hugo-deployer/values.yaml
Due: none

Notes added by 'git notes add'
  43a3280071cc7828d5ec8b0cb45015951a38b374
Due: none

feat: move to mise bootstrap
  .devcontainer/Dockerfile
  .devcontainer/containers.conf
  .devcontainer/devcontainer.json
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mergify.yml
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/clean.sh
  .mise/tasks/lint.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  .trivyignore
  Dockerfile
  docker-compose.yaml
Due: jsonlint

feat: move to cog
  .devcontainer/Dockerfile
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/prepare-devcontainer-image.yaml
  .github/workflows/release.yaml
  .gitignore
  .mise/config.toml
  .mise/tasks/build-devcontainer.sh
  .mise/tasks/clean.sh
  .mise/tasks/lint.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  .releaserc.yaml
  CHANGELOG.md
  cog.toml
  prek.toml
Due: none

feat: fixed format
  .devcontainer/devcontainer.json
  .editorconfig
  .editorconfig-checker.json
  .github/workflows/cleanup-devcontainer-image.yaml
  .github/workflows/pr.yaml
  .github/workflows/prepare-devcontainer-image.yaml
  .github/workflows/release.yaml
  .hadolint.yaml
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/build.sh
  .mise/tasks/format.sh
  .mise/tasks/security-scan.sh
  .trivyignore
  Dockerfile
  README.md
  charts/hugo-deployer/templates/secrets.yaml
  cog.toml
  dprint.json
  prek.toml
  renovate.json
Due: jsonlint, renovate-config-validator

feat: move to mise bootstrap
  .mise/config.toml
  .mise/tasks/bootstrap.sh
Due: none

feat: use heredoc syntax in dockerfile
  Dockerfile
Due: none

feat: remove build of devcontainer
  .devcontainer.json
  .devcontainer/Dockerfile
  .devcontainer/containers.conf
  .devcontainer/devcontainer.json
  .github/workflows/cleanup-devcontainer-image.yaml
  .github/workflows/prepare-devcontainer-image.yaml
  .mergify.yml
Due: jsonlint

fix: small fixes
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .gitignore
  .mergify.yml
  .mise/tasks/build.sh
  .mise/tasks/clean.sh
  .mise/tasks/lint.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  .trivyignore
  docker-compose.yaml
Due: none

feat: move to cog
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .releaserc.yaml
  CHANGELOG.md
  cog.toml
  prek.toml
Due: none

feat: fixed format
  .editorconfig
  .editorconfig-checker.json
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .hadolint.yaml
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/format.sh
  .mise/tasks/security-scan.sh
  .trivyignore
  README.md
  biome.json
  dprint.json
  prek.toml
  renovate.json
Due: jsonlint, renovate-config-validator

refactor: deduplicate pre/post-build hook execution in update-site.sh
  src/update-site.sh
Due: none

feat: moved file to src
  .mise/tasks/build.sh
  README.md
  charts/hugo-deployer/templates/_helpers.tpl
  charts/hugo-deployer/templates/ingress.yaml
  charts/hugo-deployer/templates/secrets.yaml
  example/.env
  example/docker-compose.yaml
  src/Caddyfile
  src/Dockerfile
  src/startup.sh
  src/update-site.sh
Due: none

feat: replace Renovate with Updatecli for dependency updates
  .editorconfig-checker.json
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/update-deps.yaml
  .mise/config.toml
  .mise/tasks/release.sh
  .mise/tasks/update-deps.sh
  .updatecli/manifests/autodiscovery.yaml
  .updatecli/manifests/devcontainer.yaml
  .updatecli/manifests/dockerfile.yaml
  .updatecli/manifests/dprint.yaml
  .updatecli/manifests/mise.yaml
  .updatecli/manifests/prek.yaml
  .updatecli/values.yaml
  .yamllint.yaml
  prek.toml
  renovate.json
  src/Dockerfile
Due: jsonlint, renovate-config-validator

feat: reorganize files
  .biome.json
  .codebook.toml
  .devcontainer/devcontainer.json
  .dprint.json
  .markdownlint-cli2.yaml
  .mise/tasks/bootstrap.sh
  .mise/tasks/run/security-scan.sh
  .mise/tasks/run/tests.sh
  .mise/tasks/test.sh
  .rumdl.toml
Due: jsonlint

fix: correct caddy file
  src/Caddyfile
Due: none

fix: fix trivy scan
  .trivyignore
  trivy.yaml
Due: none

feat: switch back mergify to rebase mode
  .mergify.yml
Due: none

feat: add tests for helm charts
  .codebook.toml
  .dprint.json
  .editorconfig-checker.json
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/run/tests.sh
  README.md
  charts/hugo-deployer/templates/_helpers.tpl
  charts/hugo-deployer/templates/deployment.yaml
  charts/hugo-deployer/templates/ingress.yaml
  charts/hugo-deployer/tests/configmap_test.yaml
  charts/hugo-deployer/tests/deployment_test.yaml
  charts/hugo-deployer/tests/ingress_test.yaml
  charts/hugo-deployer/tests/networkpolicy_test.yaml
  charts/hugo-deployer/tests/secrets_test.yaml
  charts/hugo-deployer/tests/service_test.yaml
  charts/hugo-deployer/values.yaml
  cog.toml
  example/.env
  example/docker-compose.yaml
Due: jsonlint

feat: add tests for helm charts
  .codebook.toml
  .dprint.json
  .editorconfig-checker.json
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/build.sh
  .mise/tasks/run/tests.sh
  README.md
  charts/hugo-deployer/templates/_helpers.tpl
  charts/hugo-deployer/templates/deployment.yaml
  charts/hugo-deployer/templates/ingress.yaml
  charts/hugo-deployer/tests/configmap_test.yaml
  charts/hugo-deployer/tests/deployment_test.yaml
  charts/hugo-deployer/tests/ingress_test.yaml
  charts/hugo-deployer/tests/networkpolicy_test.yaml
  charts/hugo-deployer/tests/secrets_test.yaml
  charts/hugo-deployer/tests/service_test.yaml
  charts/hugo-deployer/values.yaml
  cog.toml
  example/.env
  example/docker-compose.yaml
Due: jsonlint

feat: add tests for helm charts
  .codebook.toml
  .devcontainer/devcontainer.json
  .dprint.json
  .editorconfig-checker.json
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/build.sh
  .mise/tasks/run/security-scan.sh
  .mise/tasks/run/tests.sh
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
  .vale/.sync.lock
  README.md
  charts/hugo-deployer/templates/_helpers.tpl
  charts/hugo-deployer/templates/deployment.yaml
  charts/hugo-deployer/templates/ingress.yaml
  charts/hugo-deployer/tests/configmap_test.yaml
  charts/hugo-deployer/tests/deployment_test.yaml
  charts/hugo-deployer/tests/ingress_test.yaml
  charts/hugo-deployer/tests/networkpolicy_test.yaml
  charts/hugo-deployer/tests/secrets_test.yaml
  charts/hugo-deployer/tests/service_test.yaml
  charts/hugo-deployer/values.yaml
  cog.toml
  example/.env
  example/docker-compose.yaml
  prek.toml
  src/Dockerfile
Due: jsonlint

fix: test
  .github/workflows/pr.yaml
  .github/workflows/update-deps.yaml
  .mise/tasks/run/tests.sh
Due: none

feat: add tests for helm charts
  .codebook.toml
  .devcontainer/devcontainer.json
  .dprint.json
  .editorconfig-checker.json
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/update-deps.yaml
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/build.sh
  .mise/tasks/run/security-scan.sh
  .mise/tasks/run/tests.sh
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
  .vale/.sync.lock
  README.md
  charts/hugo-deployer/templates/_helpers.tpl
  charts/hugo-deployer/templates/deployment.yaml
  charts/hugo-deployer/templates/ingress.yaml
  charts/hugo-deployer/tests/configmap_test.yaml
  charts/hugo-deployer/tests/deployment_test.yaml
  charts/hugo-deployer/tests/ingress_test.yaml
  charts/hugo-deployer/tests/networkpolicy_test.yaml
  charts/hugo-deployer/tests/secrets_test.yaml
  charts/hugo-deployer/tests/service_test.yaml
  charts/hugo-deployer/values.yaml
  cog.toml
  example/.env
  example/docker-compose.yaml
  prek.toml
  src/Dockerfile
Due: jsonlint

Path conditions:
  jsonlint: any of: \.json$
  renovate-config-validator: any of: (^|/).?renovate(?:rc)?(?:\.json5?)?$
